body {
	color: #373737;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}
a {
	color: #1d650e;
}
p {
	line-height: 20px;
}
form input[type=text], textarea {
	border: 1px #969696 solid;
	font-size: 16px;
	font-family: Arial;
	color: #373737;
	width: 300px;
}
form span.nesessary {
	color: #ff0000;
}
form textarea {
	height: 100px;
}
form div.error {
	border: 1px #ff0000 solid;
	padding: 10px;
	margin-bottom: 10px;
}
h2 {
	color: #1d650e;
	font-family: Arial;
	font-size: 20px;
	font-weight: normal;
	line-height: 30px;
}
